<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<div class="px-4 py-5 my-5 container-fluid">


    <h1>Изменить</h1>

    <h4>Время работы кабинета функциональной диагностики</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form action="#" th:action="@{/ExaminationCabinetReferralTimes/Edit}" th:object="${examinationCabinetReferralTime}" method="POST">
                <div class="form-group">
                    <label class="control-label">Id</label>
                    <input class="form-control" type="text" th:field="*{id}" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label">Кабинет</label>
                    <input class="form-control" type="text" th:field="*{examinationCabinet.id}" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Время</label>
                    <input class="form-control" type="time" th:field="*{timeString}" required/>
                </div>
                <div class="form-group">
                    <p></p>
                    <input type="submit" value="Обновить" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/ExaminationCabinetReferralTimes/Index">Назад к списку</a>
    </div>
</div>
</body>
</html>
