<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<div class="px-4 py-5 my-5 container-fluid">


    <h1>Создать</h1>

    <h4>Запись ко врачу</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form action="#" th:action="@{/PatientDoctorAppointments/Create}" th:object="${doctorAppointment}" method="POST">
                <div class="form-group">
                    <label class="control-label">Пациент</label>
                    <input class="form-control" type="text" th:value="${patientId}" th:name="patient" th:id="patient" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label">Терапевт</label>
<!--                    <input class="form-control" type="text" th:field="*{doctor.id}"/>-->
                    <select th:field="*{doctor}" id="doctors" class="form-control" onchange="therapistSelected()">
                        <option value="" selected></option>
                        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.ReturnFIOAndSpeciality}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">День</label>
                    <input class="form-control" type="date" name="day" max="2023-06-27" min="2023-05-25" id="day"  onchange="getAppointmentTimes(this.value)" disabled/>
                </div>

                <div class="form-group">
                    <label class="control-label">Время</label>
                    <select class="form-control" name="time" id="time" disabled>

                    </select>
                </div>


<!--                <div class="form-group">-->
<!--                    <label class="control-label">Время</label>-->
<!--                    <input class="form-control" type="datetime-local" th:field="*{date}"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="control-label">Кабинет</label>-->
<!--                    <input class="form-control" type="text" th:field="*{cabinetNum}"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="control-label">Диагноз</label>-->
<!--                    <input class="form-control" type="text" th:field="*{diagnosis}"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="control-label">Статус</label>-->
<!--                    <input class="form-control" type="text" th:field="*{status}"/>-->
<!--                </div>-->
                <div class="form-group">
                    <p></p>
                    <input type="submit" value="Записаться" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/PatientDoctorAppointments/Index">Назад к списку</a>
    </div>

    <div th:replace="~{fragments/ajaxImports :: ajaxScripts}"></div>

    <script>
        $(document).ready(function () {
            $("#doctors").select2({
                placeholder: "Выберите терапевта",
                theme: "bootstrap4",
                allowClear: true
            });
        });
    </script>

    <script>
        function getAppointmentTimes(date){
            // console.log(date)
            let timeDropDown = document.querySelector("#time")
            let doctorChosen = $('#doctors').val();
            let currentDate = new Date().toJSON().slice(0, 10);
            console.log("Start")
            console.log(doctorChosen)
            if(doctorChosen !== '' && date>=currentDate) {

                $.ajax({
                    type: "GET",
                    url: "http://localhost:8081/GetAppointmentTimes",
                    success: function (data) {
                        let times = data
                        let out = "";

                        out += '<option value="">Выберите время</option>';
                        for (let time of data) {
                            out += '<option value="' + time + '">' + time + '</option>';
                            console.log(time);
                        }
                        timeDropDown.innerHTML = out;
                        $("#time").attr("disabled", false);

                        // console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                    },
                    dataType: "json"
                });
                // console.log()
            }
        }

    </script>
    <script>
        function therapistSelected(){
            $("#day").attr("disabled", false);
        }

    </script>
</div>
</body>
</html>
