<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<div class="px-4 py-5 my-5 container-fluid">

    <h1>Заявки на прием ко врачу</h1>

    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Ожидает+подтверждения'}">
        Ожидает подтверждения
    </a>
    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Отменена регистратурой'}">
        Отменена регистратурой
    </a>
    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Подтверждена регистратурой'}">
        Подтверждена регистратурой
    </a>
    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Отменена пациентом'}">
        Отменена пациентом
    </a>
    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Просрочена'}">
        Просрочена
    </a>
    <a class="btn btn-primary"
       th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status=Использована'}">
        Использована
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.patient.lastName&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Пациент</span>
                </a>
            </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.cabinetNum&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Кабинет</span>
                </a>
            </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=dateTime&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Дата записи</span>
                </a>

            </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=status&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Статус</span>
                </a>
            </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.doctorInitial.lastName&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Врач выписавший направление</span>
                </a>
                </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.doctorTarget.lastName&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Врач кому адресовано направление</span>
                </a>
            </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.dateOfTaking&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Дата проведения</span>
                </a>
                </th>
            <th>
                <a th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage}+'?sortField=doctorReferral.whatToResearch&sortDir='+${reverseSortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">
                    <span>Что исследовать</span>
                </a>
                </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${doctorReferralAppointments}">
            <td th:text="${el.doctorReferral.patient.ReturnFIOAndBirthDate}"></td>
            <td th:text="${el.doctorReferral.cabinetNum}"></td>
            <!--            <td th:text="${el.dateTime}"></td>-->
            <td th:text="${#temporals.format(el.dateTime, 'dd-MM-yyyy HH:mm')}"></td>


            <td th:text="${el.status}"></td>
            <td th:text="${el.doctorReferral.doctorInitial.ReturnFIOAndSpeciality}"></td>
            <td th:text="${el.doctorReferral.doctorTarget.ReturnFIOAndSpeciality}"></td>
            <!--            <td th:text="${el.doctorReferral.dateOfTaking}"></td>-->
            <td th:text="${#temporals.format(el.doctorReferral.dateOfTaking, 'dd-MM-yyyy HH:mm')}"></td>

            <td th:text="${el.doctorReferral.whatToResearch}"></td>
            <td>
<!--                <a th:href="@{/DoctorReferralAppointments/Edit/{id}(id=${el.id})}">Edit</a> |-->
                <a th:href="@{/DoctorReferralAppointments/Details/{id}(id=${el.id})}">Details</a>
<!--                <a th:href="@{/DoctorReferralAppointments/Delete/{id}(id=${el.id})}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Количество записей: [[${totalItems}]]
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/PatientDoctorReferralAppointments/Index/'+${1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">Первая</a>
                <span th:unless="${currentPage > 1}">Первая</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">Назад</a>
                <span th:unless="${currentPage > 1}">Назад</span>
            </div>


            <div class="col-auto">
        <span th:each="i:${#numbers.sequence(1,totalPages)}">
          <a th:if="${currentPage != i}"
             th:href="@{'/PatientDoctorReferralAppointments/Index/'+${i}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/PatientDoctorReferralAppointments/Index/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">Далее</a>
                <span th:unless="${currentPage < totalPages}">Далее</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/PatientDoctorReferralAppointments/Index/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+${patientFIO}+'&patientBirthDate='+${patientBirthDate}+'&status='+${status}}">Последняя</a>
                <span th:unless="${currentPage < totalPages}">Последняя</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>
