<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Направления на анализ</h1>
<p>
  <a asp-action="Create">Создать</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>
      Диагноз
    </th>
    <th>
      Врач
    </th>
    <th>
     Пациент
    </th>
    <th>
      Тип
    </th>
    <th>
      Лаборант
    </th>
    <th>
      Кабинет
    </th>
    <th>
      Дата
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      A01.0 Брюшной тиф
    </td>
    <td>
      Петров Сергей Викторович(Терапевт)
    </td>
    <td>
      Вавилов Анатолий Генадьевич 12.04.1999
    </td>
    <td>
      Анализ крови на сахар
    </td>
    <td>
      Савельева Антонина Петровна
    </td>
    <td>
      234
    </td>
    <td>
      22.01.2023 12:30
    </td>
    <td>
      <a href="">Edit</a> |
      <a href="">Details</a> |
      <a href="">Delete</a>
    </td>

  </tr>

  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
