<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<div class="px-4 py-5 my-5 container-fluid">

    <h1>Создать</h1>

    <h4>Осмотр</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form action="#" th:action="@{/Inspections/Create}" th:object="${inspection}" method="POST">
                <div class="form-group">
                    <label class="control-label">Пациент</label>
                    <!--                    <input class="form-control" type="text" th:field="*{patient.id}" th:value="${patientId}"/>-->
                    <div th:if="${patientId}==null">
                        <select th:field="*{patient.id}" id="patients" class="form-control">
<!--                            <option th:value="-1" selected>Выберите пациента</option>-->
                            <option value=""></option>
                            <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.ReturnFIOAndBirthDate}"></option>
                        </select>
                    </div>
                    <div th:if="${patientId}!=null">
                        <input class="form-control" type="text" th:id="patient.id" th:name="patient.id" th:value="${patientId}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Жалобы</label>
                    <input class="form-control" type="text" th:field="*{complaint}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Рецепт</label>
                    <input class="form-control" type="text" th:field="*{recipe}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Диагноз</label>
<!--                    <input class="form-control" type="text" th:field="*{diagnosis.id}"/>-->
                    <select th:field="*{diagnosis.id}" id="diagnoses" class="form-control">
                        <option value=""></option>
                        <option th:each="diagnosis : ${diagnoses}" th:value="${diagnosis.id}" th:text="${diagnosis.ReturnIdAndDescription}"></option>
                    </select>

                </div>
                <div class="form-group">
                    <label class="control-label">Дата проведения</label>
<!--                    <input class="form-control" type="datetime-local" th:field="*{date}"/>-->
                    <input class="form-control" type="datetime-local" th:id="date" th:name="date" th:value="${currentDate}"/>


                </div>
                <div class="form-group">
                    <label class="control-label">Тип</label>
                    <input class="form-control" type="text" th:field="*{type}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Врач</label>
<!--                    <input class="form-control" type="text" th:field="*{doctor.id}"/>-->
                    <input class="form-control" type="text" th:id="doctor.id" th:name="doctor.id" th:value="${doctorId}" readonly/>

                </div>
                <div class="form-group">
                    <p></p>
                    <input type="submit" value="Создать" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Inspections/Index">Назад к списку</a>
    </div>
</div>

<div th:replace="~{fragments/ajaxImports :: ajaxScripts}"></div>

<script>
    $(document).ready(function () {
        $("#patients").select2({
            placeholder: "Выберите пациента",
            theme: "bootstrap4",
            allowClear: true
        });
        $("#diagnoses").select2({
            placeholder: "Выберите диагноз",
            theme: "bootstrap4",
            allowClear: true
        });
    });
</script>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#patients").select2({-->
<!--            minimumInputLength: 3,-->
<!--            placeholder: "Выберите пациента",-->
<!--            theme: "bootstrap4",-->
<!--            allowClear: true,-->
<!--            ajax: {-->

<!--                url: 'http://localhost:8081/Patients/getForSearch',-->
<!--                dataType: 'json',-->

<!--                data: function (params) {-->
<!--                    console.log(params.term);-->
<!--                    return {-->
<!--                        q: params.term, // search term-->
<!--                    };-->
<!--                },-->
<!--                processResults: function (response) {-->
<!--                    var procedures = [];-->
<!--                    for (let i = 0; i < response.length; i++) {-->
<!--                        procedures.push({-->
<!--                            id: response[i].id,-->
<!--                            text: response[i].lastName +' '+ response[i].firstName+' '+response[i].middleName,-->
<!--                        })-->
<!--                    }-->
<!--                    return { results: procedures }-->
<!--                },-->
<!--                cache: true,-->
<!--            },-->
<!--        });-->
<!--    });-->
<!--</script>-->

</body>
</html>
