<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<h1>Обследования</h1>
<p>
  <a asp-action="Create">Создать</a>
</p>
<form method="get">
  <p>
  <p>Поиск</p>
  <p style="color:red;">Ошибка</p>
  <input type="search" placeholder="Введите ФИО пациента (Обязательно)" name="PatientFIO" style="width:600px;" />
  <p>Дата рождения пациента (Необязательно)</p>
  <input type="date" name="PatientBirthDate" style="width:300px;" />
  <input type="submit" value="Search" class="btn btn-primary" />
  <a href="">Получить список всех пациентов</a>
  </p>
</form>
<table class="table">
  <thead>
  <tr>
    <th>
      Тип
    </th>
    <th>
      Описание
    </th>
    <th>
      Врач функц. диагностики
    </th>
    <th>
      Пациент
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Электромиография
    </td>
    <td>
      Описание...
    </td>
    <td>
      Михалкова Евгения Алексеевна
    </td>
    <td>
      Валуев Иван Генадьевич
    </td>
    <td>
      <a href="">Edit</a> |
      <a href="">Details</a> |
      <a href="">Delete</a>
    </td>
  </tr>
  </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
