<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<h1>Обследования</h1>
<p>
  <a asp-action="Create">Создать</a>
</p>
<form method="get">
  <p>
  <p>Поиск</p>
  <p style="color:red;">Ошибка</p>
  <input type="search" placeholder="Введите ФИО пациента (Обязательно)" name="PatientFIO" style="width:600px;" />
  <p>Дата рождения пациента (Необязательно)</p>
  <input type="date" name="PatientBirthDate" style="width:300px;" />
  <input type="submit" value="Search" class="btn btn-primary" />
  <a href="">Получить список всех пациентов</a>
  </p>
</form>
<table class="table">
  <thead>
  <tr>
    <th>Пациент</th>
    <th>Тип</th>
    <th>Заключение</th>
    <th>Врач функц. диагностики</th>
    <th>Дата проведения</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="el : ${examinations}">
    <td th:text="${el.patient.ReturnFIOAndBirthDate}"></td>
    <td th:text="${el.type}"></td>
    <td th:text="${el.description}"></td>
    <td th:text="${el.functionalDiagnosticsDoctor.ReturnFIOAndBirthDate}"></td>
    <td th:text="${el.date}"></td>

    <td>
      <a th:href="@{/Examinations/Edit/{id}(id=${el.id})}">Edit</a> |
      <a th:href="@{/Examinations/Details/{id}(id=${el.id})}">Details</a> |
      <a th:href="@{/Examinations/Delete/{id}(id=${el.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
