<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<div class="px-4 py-5 my-5 container-fluid">

    <h1>Регистрация</h1>

    <h4>Пациент</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form action="#" th:action="@{/Patients/Create}" th:object="${patient}" method="POST">
                <div class="form-group">
                    <label class="control-label">Фамилия</label>
                    <input class="form-control" type="text" th:field="*{lastName}" required/>
                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Имя</label>
                    <input class="form-control" type="text" th:field="*{firstName}" required/>
                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Отчество</label>
                    <input class="form-control" type="text" th:field="*{middleName}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Дата рождения</label>
                    <input class="form-control" type="date" th:field="*{birthDate}" value="" required/>
                    <p th:if="${#fields.hasErrors('birthDate')}" class="text-danger" th:errors="*{birthDate}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Полис</label>
                    <input class="form-control" type="text" th:field="*{polisId}" maxlength="16" minlength="16" pattern="[0-9]{16}" required placeholder="0000000000000000"/>
                    <p th:if="${#fields.hasErrors('polisId')}" class="text-danger" th:errors="*{polisId}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Компания полиса</label>
                    <input class="form-control" type="text" th:field="*{poilsCompany}" required/>
                    <p th:if="${#fields.hasErrors('poilsCompany')}" class="text-danger" th:errors="*{poilsCompany}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Дата конца полиса</label>
                    <input class="form-control" type="date" th:field="*{polisEndDateString}" th:valuetype="Date"/>
                </div>
                <div class="form-group">
                    <label class="control-label">СНИЛС</label>
                    <input class="form-control" type="text" th:field="*{snilsNumber}" pattern="^\d{3}-\d{3}-\d{3} \d{2}$" required placeholder="123-123-123 12"/>
                    <p th:if="${#fields.hasErrors('snilsNumber')}" class="text-danger" th:errors="*{snilsNumber}"></p>

                </div>
                <div class="form-group">
                    <label class="control-label">Домашний адрес</label>
                    <input class="form-control" type="text" th:field="*{homeAddress}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Место работы</label>
                    <input class="form-control" type="text" th:field="*{workPlace}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Должность</label>
                    <input class="form-control" type="text" th:field="*{workPosition}" />
                </div>
                <div class="form-group">
                    <p></p>
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Patients/Index">Назад к списку</a>
    </div>
</div>
<div th:replace="~{fragments/ajaxImports :: ajaxScripts}"></div>

<script>
    $(document).ready(function () {
        $("#patients").select2({
            placeholder: "Выбирете пациента",
            theme: "bootstrap4",
            allowClear: true
        });
    });
</script>
</body>
</html>
