<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<div class="px-4 py-5 my-5 container-fluid">

    <h1>Информация</h1>

    <div th:object="${doctorAppointmentTime}">
        <h4>Время приема врача</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:utext="*{id}"></dd>

            <dt class="col-sm-2">Врач</dt>
            <dd class="col-sm-10" th:utext="*{doctor?.ReturnFIOAndSpeciality} ?: ''"></dd>

            <dt class="col-sm-2">Время</dt>
            <dd class="col-sm-10" th:utext="*{#dates.format(time, 'HH:mm')} ?: ''"></dd>

        </dl>
    </div>
    <div>
    <a th:href="@{/DoctorAppointmentTimes/Edit/{id}(id=${id})}">Редактировать</a> |
    <a href="/DoctorAppointmentTimes/Index">Назад к списку</a>

    </div>
</div>
</body>
</html>
