<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Направления на обследование</h1>
<p style="margin-top: 20px">
  <a href="/ExaminationReferrals/Create" class="btn btn-secondary">Создать</a>
</p>

<form method="get" action="Index">
  <p>
  <h4>Поиск</h4>
  <p style="color:red;">Ошибка</p>
  <input type="search" placeholder="Введите ФИО пациента (Обязательно)" name="PatientFIO" style="width:600px;" />
  <p>Дата рождения пациента (Необязательно)</p>
  <input type="date" name="PatientBirthDate" style="width:300px;" />
  <input type="submit" value="Search" class="btn btn-primary" />
  <a href="">Получить список всех направлений на анализ</a>
  </p>
</form>
<table class="table">
  <thead>
  <tr>
    <th>Диагноз</th>
    <th>Врач</th>
    <th>Пациент</th>
    <th>Тип</th>
    <th>Врач функц. диагностики</th>
    <th>Кабинет</th>
    <th>Статус</th>
    <th>Дата проведения</th>
    <th>Что исследовать</th>
    <th>Расписание</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="el : ${doctors}">
    <td th:text="${el.diagnosis.ReturnIdAndDescription}"></td>
    <td th:text="${el.doctor.ReturnFIOAndSpeciality}"></td>
    <td th:text="${el.patient.ReturnFIOAndBirthDate}"></td>
    <td th:text="${el.type}"></td>
    <td th:text="${el.functionalDiagnosticsDoctor.ReturnFIOAndBirthDate}"></td>
    <td th:text="${el.cabinetNum}"></td>
    <td th:text="${el.status}"></td>
    <td th:text="${el.dateOfTaking}"></td>
    <td th:text="${el.whatToResearch}"></td>
    <td th:text="${el.schedules}"></td>
    <td>
      <a th:href="@{/ExaminationReferrals/Edit/{id}(id=${el.id})}">Edit</a> |
      <a th:href="@{/ExaminationReferrals/Details/{id}(id=${el.id})}">Details</a> |
      <a th:href="@{/ExaminationReferrals/Delete/{id}(id=${el.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
