<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>


<h1>Создать</h1>

<h4>Анализ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="#" th:action="@{/Analyses/Create}" th:object="${analysis}" method="POST">
            <div class="form-group">
                <label class="control-label">Пациент</label>
                <input class="form-control" type="text" th:field = "*{patient}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Тип</label>
                <input class="form-control" type="text" th:field = "*{type}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Заключение</label>
                <input class="form-control" type="text" th:field = "*{report}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Лаборант</label>
                <input class="form-control" type="text" th:field = "*{assistant}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Дата</label>
                <input class="form-control" type="date" th:field = "*{date}"/>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Analyses">Назад к списку</a>
</div>

<div th:replace="~{fragments/ajaxImports :: ajaxScripts}"></div>

<script>
    $(document).ready(function () {
        $("#patients").select2({
            placeholder: "Выбирете пациента",
            theme: "bootstrap4",
            allowClear: true
        });
    });
</script>
</body>
</html>
