<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<div class="px-4 py-5 my-5 container-fluid">
    <h1>Анализы</h1>

    <p style="margin-top: 20px">
        <a href="/Analyses/Create" class="btn btn-secondary">Создать</a>
    </p>
    <!--<form method="get" action="Index">-->
    <!--  <p>-->
    <!--  <h4>Поиск</h4>-->
    <!--  <p style="color:red;">Ошибка</p>-->
    <!--  <input type="search" placeholder="Введите слово для поиска" name="PatientFIO" style="width:600px;" />-->
    <!--  <p>Дата рождения пациента (Необязательно)</p>-->
    <!--  <input type="date" name="PatientBirthDate" style="width:300px;" />-->
    <!--  <input type="submit" value="Search" class="btn btn-primary" />-->
    <!--  <a href="">Получить список всех пациентов</a>-->
    <!--  </p>-->
    <!--</form>-->



<!--    <form method="get" action="/Analyses/Index/1">-->
<!--        <p>-->
<!--        <h4>Поиск</h4>-->
<!--&lt;!&ndash;        <p style="color:red;">Ошибка</p>&ndash;&gt;-->
<!--        <input type="hidden" name="sortField" th:value="${sortField}">-->
<!--        <input type="hidden" name="sortDir" th:value="${sortDir}">-->
<!--        <input type="search" placeholder="Введите ФИО пациента" name="patientFIO" style="width:600px;" th:value="${patientFIO}"/>-->
<!--&lt;!&ndash;        <p>Дата рождения пациента (Необязательно)</p>&ndash;&gt;-->
<!--        <p>Год рождения пациента/Дата рождения пациента</p>-->
<!--        &lt;!&ndash;        <input type="date" name="patientBirthDate" style="width:300px;" th:value="${patientBirthDate}"/>&ndash;&gt;-->
<!--        <input type="search" name="patientBirthDate" style="width:300px;" placeholder="yyyy / yyyy mm / yyyy mm dd" th:value="${patientBirthDate}"/>-->
<!--        <input type="submit" value="Search" class="btn btn-primary"/>-->
<!--        <a th:href="@{'/Analyses/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&patientFIO='+'&patientBirthDate='}">Получить список всех пациентов</a>-->
<!--        </p>-->
<!--    </form>-->

    <!--  Поиск  -->
    <form th:replace="~{fragments/pagination :: search(page='Analyses')}"></form>


    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='patient.lastName', text='Пациент')}"></a>
            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='patient.birthDate', text='Дата рождения пациента')}"></a>

            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='type', text='Тип')}"></a>

            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='report', text='Заключение')}"></a>

            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='assistant.lastName', text='Лаборант')}"></a>

            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='Analyses',  sortField='date', text='Дата проведения')}"></a>

            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${analyses}">
            <td th:text="${el.patient.ReturnFIO}"></td>
            <td th:text="${el.patient.ReturnBirthDate}"></td>
            <td th:text="${el.type}"></td>
            <td th:text="${el.report}"></td>
            <td th:text="${el.assistant.ReturnFIOAndBirthDate}"></td>
            <!--    <td th:text="${el.date}">-->
            <td th:text="${#temporals.format(el.date, 'dd-MM-yyyy HH:mm')}"></td>
            </td>
            <td>
                <a th:href="@{/Analyses/Edit/{id}(id=${el.id})}">Edit</a> |
                <a th:href="@{/Analyses/Details/{id}(id=${el.id})}">Details</a> |
                <a th:href="@{/Analyses/Delete/{id}(id=${el.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/pagination :: pages(page='Analyses')}"></div>
</div>
</body>
</html>
