<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Список регистраторов</h1>

<form method="get" action="Index">
    <p>
    <p>Поиск</p>
    <p style="color:red;">Ошибка</p>
    <input type="search" placeholder="Введите ФИО регистратора (Обязательно)" name="ReceptionistFIO" style="width:600px;" />
    <p>Дата рождения пациента (Необязательно)</p>
    <input type="date"  name="ReceptionistBirthDate" style="width:300px;" />
    <input type="submit" value="Search" class="btn btn-primary" />
    <a href="">Получить список всех регистраторов</a>
    </p>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            Фамилия
        </th>
        <th>
           Имя
        </th>
        <th>
           Отчество
        </th>
        <th>
          Дата рождения
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${receptionists}">
        <td th:text="${el.lastName}"></td>
        <td th:text="${el.firstName}"></td>
        <td th:text="${el.middleName}"></td>
        <td th:text="${el.birthDate}"></td>
        <td>
            <a th:href="@{/Receptionists/Edit/{id}(id=${el.id})}">Edit</a> |
            <a th:href="@{/Receptionists/Details/{id}(id=${el.id})}">Details</a> |
            <a th:href="@{/Receptionists/Delete/{id}(id=${el.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
