<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>

<div class="px-4 py-5 my-5 container-fluid">

    <h1>Обследования</h1>


    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='PatientExaminations',  sortField='patient.lastName', text='Пациент')}"></a>
            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='PatientExaminations',  sortField='type', text='Тип')}"></a>
            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='PatientExaminations',  sortField='report', text='Заключение')}"></a>
            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='PatientExaminations',  sortField='functionalDiagnosticsDoctor.lastName', text='Врач функц. диагностики')}"></a>
            </th>
            <th>
                <a th:replace="~{fragments/pagination :: link(page='PatientExaminations',  sortField='date', text='Дата проведения')}"></a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${examinations}">
            <td th:text="${el.patient.ReturnFIOAndBirthDate}"></td>
            <td th:text="${el.type}"></td>
            <td th:text="${el.report}"></td>
            <td th:text="${el.functionalDiagnosticsDoctor.ReturnFIOAndBirthDate}"></td>
            <td th:text="${#temporals.format(el.date, 'dd-MM-yyyy HH:mm')}"></td>

            <td>
<!--                <a th:href="@{/Examinations/Edit/{id}(id=${el.id})}">Edit</a> |-->
                <a th:href="@{/PatientExaminations/Details/{id}(id=${el.id})}">Details</a>
<!--                <a th:href="@{/Examinations/Delete/{id}(id=${el.id})}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
  <div th:replace="~{fragments/pagination :: pages(page='PatientExaminations')}"></div>
</div>
</body>
</html>
