<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Заявки на прием ко врачу</h1>
<p style="margin-top: 20px">
  <a href="/DoctorAppointments/Create" class="btn btn-secondary">Создать</a>
</p>

<form method="get" action="Index">
  <p>
  <h4>Поиск</h4>
  <p style="color:red;">Ошибка</p>
  <input type="search" placeholder="Введите ФИО пациента (Обязательно)" name="PatientFIO" style="width:600px;" />
  <p>Дата рождения пациента (Необязательно)</p>
  <input type="date" name="PatientBirthDate" style="width:300px;" />
  <input type="submit" value="Search" class="btn btn-primary" />
  <a href="">Получить список всех заявок</a>
  </p>
</form>
<table class="table">
  <thead>
  <tr>
    <th>Пациент</th>
    <th>Кабинет</th>
    <th>Время</th>
    <th>Статус</th>
    <th>Врач</th>
    <th>Дата проведения</th>
    <th>Что исследовать</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="el : ${doctorAppointments}">
    <td th:text="${el.patient.ReturnFIOAndBirthDate}"></td>
    <td th:text="${el.cabinetId}"></td>
    <td th:text="${el.dateTime}"></td>
    <td th:text="${el.status}"></td>
    <td th:text="${el.doctor.ReturnFIOAndSpeciality}"></td>
    <td th:text="${el.doctorReferral.dateOfTaking}"></td>
    <td th:text="${el.doctorReferral.whatToResearch}"></td>
    <td>
      <a th:href="@{/DoctorAppointments/Edit/{id}(id=${el.id})}">Edit</a> |
      <a th:href="@{/DoctorAppointments/Details/{id}(id=${el.id})}">Details</a> |
      <a th:href="@{/DoctorAppointments/Delete/{id}(id=${el.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
