<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>


<h1>Создать</h1>

<h4>Диагноз</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="#" th:action="@{/Diagnoses/Create}" th:object="${diagnosis}" method="POST">
            <div class="form-group">
                <label class="control-label">Код МКБ</label>
<!--                <select id="patients" class="form-control"><option></option></select>-->
                <input class="form-control" type="text" th:field = "*{id}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <input class="form-control" type="text" th:field = "*{description}"/>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Diagnoses">Назад к списку</a>
</div>

<div th:replace="~{fragments/ajaxImports :: ajaxScripts}"></div>

<script>
    $(document).ready(function () {
        $("#patients").select2({
            placeholder: "Выбирете пациента",
            theme: "bootstrap4",
            allowClear: true
        });
    });
</script>
</body>
</html>
