<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<div class="px-4 py-5 my-5 container-fluid">

    <h1>Справочник диагнозов</h1>

    <p style="margin-top: 20px">
        <a href="/Diagnoses/Create" class="btn btn-secondary">Создать</a>
    </p>
    <!--<form method="get" action="Index">-->
    <!--    <p>-->
    <!--        <input type="search" placeholder="Введите диагноз или код МКБ" name="DiagnosisSearch" style="width:700px;" />-->
    <!--        <input type="submit" value="Search" class="btn btn-primary" />-->
    <!--        <a action="Index">Получить список всех диагнозов</a>-->
    <!--    </p>-->
    <!--</form>-->


    <form method="get" th:action="'/Diagnoses/Index/1'">
        <p>
        <h4>Поиск</h4>
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="search" placeholder="Введите код МКБ" name="diagnosisId" style="width:700px;"
               th:value="${diagnosisId}"/>
        <p></p>
        <input type="search" placeholder="Введите диагноз" name="diagnosisDescription" style="width:700px;"
               th:value="${diagnosisDescription}"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
        <a th:href="@{'/Diagnoses/Index/'+${currentPage}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+'&diagnosisDescription='}">Получить
            список всех диагнозов</a>
        </p>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/Diagnoses/Index/'+${currentPage}+'?sortField=id&sortDir='+${reverseSortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">
                    <span>Код МКБ</span>
                </a>
            </th>
            <th>
                <a th:href="@{'/Diagnoses/Index/'+${currentPage}+'?sortField=description&sortDir='+${reverseSortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">
                    <span>Описание</span>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${diagnoses}">
            <td th:text="${el.id}">
            </td>
            <td th:text="${el.description}">
            </td>
            <td>
                <a th:href="@{/Diagnoses/Edit/{id}(id=${el.id})}">Edit</a> |
                <a th:href="@{/Diagnoses/Details/{id}(id=${el.id})}">Details</a> |
                <a th:href="@{/Diagnoses/Delete/{id}(id=${el.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--Страницы-->
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Количество записей: [[${totalItems}]]
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/Diagnoses/Index/'+${1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">Первая</a>
                <span th:unless="${currentPage > 1}">Первая</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/Diagnoses/Index/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">Назад</a>
                <span th:unless="${currentPage > 1}">Назад</span>
            </div>


            <div class="col-auto">
        <span th:each="i:${#numbers.sequence(1,totalPages)}">
          <a th:if="${currentPage != i}"
             th:href="@{'/Diagnoses/Index/'+${i}  +'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/Diagnoses/Index/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">Далее</a>
                <span th:unless="${currentPage < totalPages}">Далее</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/Diagnoses/Index/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&diagnosisId='+${diagnosisId}+'&diagnosisDescription='+${diagnosisDescription}}">Последняя</a>
                <span th:unless="${currentPage < totalPages}">Последняя</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>
