<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="margin-bottom: 60px" class="container-fluid">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Справочник диагнозов</h1>

<p style="margin-top: 20px">
    <a href="/Diagnoses/Create" class="btn btn-secondary">Создать</a>
</p>
<form method="get" action="Index">
    <p>
        <input type="search" placeholder="Введите диагноз или код МКБ" name="DiagnosisSearch" style="width:700px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a action="Index">Получить список всех диагнозов</a>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Код МКБ
        </th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${diagnoses}">
        <td th:text="${el.id}">
        </td>
        <td th:text="${el.description}">
        </td>
        <td>
            <a th:href="@{/Diagnoses/Edit/{id}(id=${el.id})}">Edit</a> |
            <a th:href="@{/Diagnoses/Details/{id}(id=${el.id})}">Details</a> |
            <a th:href="@{/Diagnoses/Delete/{id}(id=${el.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
